{:kotoba.app/id "cloud.itonami.isic-6399", :kotoba.app/kind "appview", :kotoba.app/bundle-cid "bafkreibaty2jm6dtbydwzfvuea2tj2z46m7bymxqdttsnmyvuznsn3vzue", :kotoba.app/embed-url "ipfs://bafkreibaty2jm6dtbydwzfvuea2tj2z46m7bymxqdttsnmyvuznsn3vzue", :published {:archive "https://kotobase.net/ipfs/bafkreibaty2jm6dtbydwzfvuea2tj2z46m7bymxqdttsnmyvuznsn3vzue", :size 2213637, :put-status 201, :get-status 200, :at "2026-08-15T13:35:15.127Z"}}
